.card-body {
  padding: 0.5rem 1rem;
}

.task {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.needs-attention {
  background-color: #fcc;
}

.blocked {
  background-color: #ccc;
  color: #999;
}

.epic {
  background-color: #eef;
}

.goal {
  background-color: #c0ffb3;
}
